//<ОСНОВНОЙ БЛОК>====================================================================================================



//</ОСНОВНОЙ БЛОК>====================================================================================================



//<ГОТОВЫЕ КЛАССЫ>====================================================================================================

//====================================================================================================
.ibg{background-position: center;background-size: cover;background-repeat: no-repeat;
	img{display: none;}
}
//====================================================================================================


//====================================================================================================
.slick-slider{position: relative;
	.slick-track,.slick-list {-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
	.slick-list{position: relative;overflow: hidden;width: 100%;}
	.slick-track{position: relative;width: 100%;}
	.slick-slide{overflow: hidden;float: left;position: relative;}
	.slick-dots{
		li{
			button{}
			&.slick-active{
				button{}
			}
		}
	}
}

//=====================================================================================================================
.nicescroll-rails{z-index: 1000 !important;}

//</ГОТОВЫЕ КЛАССЫ>====================================================================================================